extends layout

block content
  div(class='text-center text-lg-left')
   div(class='text-left p-4 font-2em')
    img(src='images/favicon-32x32.png')
    span(class='font-weight-bolder') #{title}
   div(class='row d-flex align-items-center')
    div(class='col-12 col-lg-5')
     p(class='lead font-3em') More than just
      span(class='text-info')  shorter links
     p(class='display-3') Get insights 
     p(class="font-2em") how your links are performing.
     
    div(class='col-12 col-lg-7')
     img(src='images/illustration-working.svg', class='img-fluid')

   div(class='text-center py-4')
    form(method='post',action="/")
     input(name='fromIndex', value='true',type='hidden')
     div(class='row')
      div(class='col-12 col-lg-10')
       input(id='longUrlTxt', placeholder='Enter your Link', name='full', type='text', class='form-control')
      div(class='col-12 col-lg-2')
       input(type="submit", class='btn btn-info form-control', value='Shorten')
   div(class='text-center')
      - if (newGenUrl!="")
           span(class='text-secondary font-weight-bolder') Your Link: 
           a(class='text-info') ushotify.herokuapp.com/su/#{newGenUrl}
      - else span         

   div(class='text-center')
    h3 Recent Links
     div(class='row p-3 text-secondary')
      div(class='col')
       img(src='images/icon-detailed-records.svg')
       h5(class='p-2') Link
        p 
         a(href=longUrl) longUrl
      div(class='col')
       img(src='images/icon-fully-customizable.svg')
       h5(class='p-2') Link Code
        p #{shortUrl}
      div(class='col')
       img(src='images/icon-brand-recognition.svg')
       h5(class='p-2') Clicks
        p #{clicks}